@charset "UTF-8";

html {
  background-color : rgba(0,0,0,0.5);
}
#stars {
    display : block;
    margin : auto;
    background-image: url("../images/ciel-nocturne.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position : 0px 0px;
    border : 2px solid white;

}

  #stars {
    animation-duration: 30s;
    animation-name: starsSlide;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


@keyframes starsSlide {
    from {
      background-position : 1200px 0px;
    }

    to {
     background-position : 0px 0px;
    }
  }



div#control {
  text-align : center;
  margin : 10px;
}

button {
  font-size : 40px;
}

span#score{
  display : inline-block;
  width : 100px;
  font-size : 30px;
  text-align : right;
  background-color : white;
  padding : 4px;
  margin : 4px;
}

/*---------------------------------------------
				STYLES AJOUTES
-----------------------------------------------*/
div#option{
	color: white;
  	text-align : center;
  	margin : auto;
	border: 1px solid white;
	background: black;
	width: 1000px;
}

#vert{
	color: green;
}

#jaune{
	color: yellow;
}
#red{
	color: red;
}

button#starGame{
	font-size : 20px;
}
button#startAndStop{
	background: green;
	color: white;
}

div#stats{
	
}
